# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
/instance

# Data & Caches
/data/
*.xls
*.xlsx
*.csv
*.parquet

# IDE / Editor specific
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db